@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ryme University</h1>
    <p class="lead">Ryme University is Norway's premier institute of higher education, with a focus in research and the occult.</p>
</div>

<div>
    @Html.ActionLink("List of students", "Index", "Students")<br />
    @Html.ActionLink("List of enrollments", "Index", "Enrollments")
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/smallTROLL1.png" alt="Og Trelbin Mugshot" />
                <div class="card-body">
                    <h5 class="card-title"><a href="~/Articles/News1.html">Trolls Tricked Twice</h5></a>
                    <p class="card-text">Recent Ryme graduate Buford Anderson successfully tricks trolls into leaving Ansborn.</p>
                    <a href="~/Articles/News1.html" class="btn btn-outline-primary">Read Article</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/smallWIZARD1.png" alt="Thomas Grickle Headshot" />
                <div class="card-body">
                    <h5 class="card-title"><a href="~/Articles/News2.html">Wizard Wins Wealth</h5></a>
                    <p class="card-text">Ryme University Alumnus Thomas Grickle wrestles a treasure hoard away from the dragon Vulnarax.</p>
                    <a href="~/Articles/News2.html" class="btn btn-outline-primary">Read Article</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/smallWITCH1.png" alt="Mella Chambers Headshot" />
                <div class="card-body">
                    <h5 class="card-title"><a href="~/Articles/News3.html">Salacious Sorceress Seeks Student</h5></a>
                    <p class="card-text">Famous sorceress Mella Chambers offers opportunities for an extended study program.</p>
                    <a href="~/Articles/News3.html" class="btn btn-outline-primary">Read Article</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css.map" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css.map" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css.map" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css.map" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
}